body {
    background-image: url(assets/workspace.jpg);
    font-family: Andale Mono, monospace;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 800px;
    height: 600px;
    padding: 2%;
    margin: 6px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
  }
#appointments {
    text-align: right;
    width: 350px;
    font-size: 20px;
}

td {
    padding: 10px;
}

#save {
    image: url(assets/save-icon.webp);

}